/*
Selector{
    propiedad : valor;
    propiedad : valor;
}
*/

body{
/* Cambiar el color de fondo */
background-color: rgb(243, 59, 114, 0.389);
/* Cambiar el color y fuente del texto*/
color :rgb(107, 29, 141);
font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(255, 97, 17);
    font-weight: 900;
    font: oblique lighter 450% bolder;
    font-family: 'Young Serif';
    text-shadow: 4px 5px 5px rgb(254, 249, 0);
    text-align : center;
}

a {
    color: rgb(10, 151, 0);
}

img {
    /* cambiar tamaño de la imagen en pixeles, ponemos una u otra
    para no deformar la imagen
    width: ancho del objeto
    heigth: alto del objeto */
    width: 600px;
}

.panteon{
    width: 800px;
    /* redondear bordes */
    border-radius: 15%;
    /* Aplicar sombras*/
    box-shadow: 10px 5px 5px rgb(169, 0, 141);
}

